.marker {
    stroke: rgb(170, 40, 40);
    fill: red;
    transform: translate(-20%, -100%);
}

.popup {
    max-width: "200px";
    padding: 1rem;
    background-color: #8b9eca;
}

.popup img {
    height: 200px;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.entry-form label,
.entry-form input,
.entry-form textarea {
    margin-right: 0.5rem;
    display: block;
    width: 100%;
}

.error {
    color: red;
}