.marker {
    stroke: #081229;
    fill: #09142e;
    transform: translate(-20%, -100%);
}

.popup {
    max-width: "200px";
    padding: 1rem;
    background-color: #585899;
}

.popup img {
    height: 200px;
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.entry-form label,
.entry-form input,
.entry-form textarea {
    margin-right: 0.5rem;
    display: block;
    width: 100%;
}

.error {
    color: red;
}

.image-class {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 200px;
}