.marker {
    stroke: red;
    fill: red;
    transform: translate(-20%, -100%);
}

.popup {
    max-width: "200px";
    padding: 1rem;
}

.entry-form label,
.entry-form input,
.entry-form textarea {
    margin-right: 0.5rem;
    display: block;
    width: 100%;
}